.main{
	display: flex;
	background-color: white;
	width:100%;
	border:2px solid #000;
	margin:2px;
}
.first{
	display: flex;
	background-color: white;
	width:100%;
	border:2px solid #000;
	margin:2px;
}
img{
	width: 200Px;
	border: 2px solid #000;
}
.left{
	flex:1;
	background-color: yellow;
	width:20%;
	border:2px solid #000;
	margin:2px;
}
.right{
	flex:3;
	background-color: pink;
	width:80%;
	border:2px solid #000;
	margin:2px;
}
#b{
	color:blue;
	font-size:20px;
	font-style:italic;
}
table,td,tr{
	border:2px solid #000;
	border-collapse: collapse;
}
@media only screen and (max-width: 480px){
	.main{
	display: flex;
	/*flex-wrap: wrap;*/
	flex-direction: column;
}
.first{
	border:2px solid #000;
	margin:2px;
}

.left{
	flex:1;
	background-color: yellow;
	border:2px solid #000;
	margin:2px;
}
.right{
	flex:3;
	background-color: pink;
	border:2px solid #000;
	margin:2px;
}
}
@media only screen and (min-width:320px) and (max-width:480px)
{
.main{
	display: flex;
	/*border:2px solid #000;*/
	/*margin:2px;*/
	/*flex-wrap: wrap;*/
	flex-direction: column;
	justify-content: center;
}
.first{
	display: flex;
	background-color:lightyellow;
	width:100%;
	border:2px solid #000;
	margin:2px;
	flex-wrap: wrap;
	flex-direction: column;
}

.left{
	flex:1;
	background-color: yellow;
	width:80%;
	border:2px solid #000;
	margin:2px;
}
.right{
	flex:3;
	background-color: pink;
	width:80%;
	border:2px solid #000;
	margin:2px;
}
}
